.App {
  text-align: center;
}

.links *{
  list-style-type: none;
  margin-top: 0 auto;
  text-decoration: none;
  color:blue;
}

.links{
  display:flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.card{
  display:flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width:30%;
  justify-content: space-evenly;
}

.container{
  list-style-type:none;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.routineCard{
  display:flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width:30%;
  justify-content: space-evenly;
}


